---
---

$text-color:       #000 !default;
$background-color: #fdfdfd !default;
$brand-color:      #e22a2a !default;

@import "{{ site.theme }}";


/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 10px; }

a {  
    &:visited {
      color: $brand-color;
    }

    &:hover {
      color: $brand-color;
    }
}

.site-header {
    border-top: none;
}

.feed-subscribe {
    text-align: right;
}

.post-meta-minor {
  font-size: 10px;
  color: #828282;
}

.archive-group {
  margin-bottom: 20px;
}